{% load static %}
<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top transition-nav">
  <div class="container-fluid">
    
    <a class="navbar-brand scroll-brand">
      <div class="navlogo"></div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-right: 5rem;">
        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Admin</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Projects</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'doxypep:dashboard' %}">DoxyPep</a></li>
            <li><a class="dropdown-item" href="{% url 'freedberg:dashboard' %}">Freedberg</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
    <div class="header">
        <div class="logo"></div>
    </div>
</div>
