.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 1000;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 2rem;
}

.logo {
    width: 50rem;
    height: 5rem;
    background-color: #002d6a;
    mask-image: url('../components/logo.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}


.nav div.logo a {
    text-decoration: none;
    color: transparent;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #002d6a;
    line-height: 65px;
    font-size: 1.5rem;
}

.nav div.main_list ul li a:hover {
    color: #004990;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 10px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: none;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: none;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.affix {
    padding: 0;
    background-color: #9eceeb;
}

.nav-link {
    padding: 0;
}
.dropdown-menu {
    border: none;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.dropdown-menu.show {
    opacity: 1;
}

.navlinks .dropdown-menu {
    display: none; 
    opacity: 0;
    flex-direction: column !important;
    align-items: flex-start !important;
    float: none;
    visibility: hidden;
    position: absolute;
    margin-top: 0; 
    transition: all 0.3s ease;
}

.navlinks .dropdown-menu.show {
    display: block !important;
    opacity: 1;
    visibility: visible;
}

.navlinks .dropdown-menu li {
    display: block !important;
    width: 100% !important;
    height: auto !important;
    background-color: #9eceeb;
}

.nav div.main_list ul li {
    align-items: center;
}

.dropdown-item:hover, 
.dropdown-item:focus, 
.dropdown-item:active {
    background-color: transparent !important;
    background: none !important;
    color: #004990 !important; 
}